.itemWrapper {
  width: 80vw;
  height: 20vw;
  display: flex;
  align-items: center;
  background-color: rgb(11,11,11);
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  transition: all .5s;
  margin-bottom: 100px;

}

.itemWrapper:hover {
  transform: scale(1.1);
}

.imgLeft {
  height: 20vw;
  border-radius: 5px;
  width: auto;
  /* margin-right: 80px; */
}

.pLeft {
  font-size: 22px;
  font-weight: 800;
  margin-left: 30px;
  font-size: 1.1vw;

} 


.h1Left  {
  border-right: 1px solid #4E4E4E;
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  /* padding: 20px;
  padding-right: 50px; */
  min-width: 18vw;
  font-size: 1.6vw;
}


.imgRight {
  height: 20vw;
  border-radius: 5px;
  width: auto;
  /* margin-right: 80px; */
}

.pRight {
  font-size: 22px;
  font-weight: 800;
  margin-left: 30px;
  font-size: 1.1vw;

} 


.h1Right  {
  border-left: 1px solid #4E4E4E;
  height: 38vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 20px;
  /* padding: 20px;
  padding-left: 50px; */
  min-width: 18vw;
  font-size: 1.6vw;

}