.contactUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: #00D3B9;
  font-family: 'Trispace', sans-serif;
  width: 100vw;

}

.contactUsWrapper > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}




