header {
  width: 100%;
  position: fixed;
  height: 60px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
  opacity: .8;
  font-family: 'Trispace', sans-serif;

  
}

.navWrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navWrapper > li {
  list-style: none;
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  font-size: 23px;
}

.navWrapper > li:hover {
  background-color: rgb(63, 63, 63);
  color: white;
  transition: all .9s;
  border-radius: 5px;
  text-shadow: 0 0 5px rgba(75, 55, 55, 0.034), 0 0 10px #8b8a8b, 0 0 15px #a09d9e, 0 0 20px #d4ced1, 0 0 25px #e9e4e6, 0 0 30px #ffffff

}

header > img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}


.left {
  display: flex;
  margin-left: 20px;
  color: white;
  align-items: center;

}

.left  > img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
 

}

.left > h1 {
  color: white;
  z-index: 9999999999999;

   
 
}